

    #visit_detail
    {
        max-height: 45rem;
	    overflow-y: scroll;
    }

    #visit_detail::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 8px;
        background-color: #F5F5F5;
    }

    #visit_detail::-webkit-scrollbar
    {
        width: 8px;
        background-color: #F5F5F5;
    }

    #visit_detail::-webkit-scrollbar-thumb
    {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgba(0,0,0,.3);
    }

    .death_overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    .death_overlay > div {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }


/*
*	Search
*/
/* search_suggestion area */
#search_suggest {
	position:relative; 
	padding:5px; 
}

/* close button for cancel the search */
.close {
	position: absolute;
	right: 10px;
}